

body {
    background-color: #DBF9FC;
    }

.Topic{
    background-color: hsl( 0 91% 71% );
    text-align: center;
    border-radius: var(--rounded-box,1rem);
    font-family: Monospace;
}

.RTopics{
    background-color: rgb(60, 125, 128);
    text-align: center;
    font-family: Monospace;
    border-radius: var(--rounded-box,1rem);
}