* {
    border: 1px solid red;
    box-sizing:border-box; /*This makes the height and width of all the elements the actual sizes, no need of mental calculation.*/ 
}

.description {
    font-family: "Times new roman";
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    /*Add auto width to the specified height*/
    height: 270px;
    width: auto;
  }

body {
    background-color: #DBF9FC;

}
.directions {
    border-radius: var(--rounded-box,1rem);
    background-color: hsl(0, 36%, 85%);
    margin: 10px;
}

.Ingre {
    background-color: rgb(221, 163, 163);
    color: white;
    font-size: 18px;
    text-align: left;
    border-radius: var(--rounded-box,1rem);
    margin: 10px;
  }
#Topic{  /*Added as part of the task*/
    background-color: hsl( 0 91% 71% );
    text-align: center;
    border-radius: var(--rounded-box,1rem);
    font-family: Monospace;
}

.RTopics{
    background-color: rgb(60, 125, 128);
    text-align: center;
    font-family: Monospace;
    border-radius: var(--rounded-box,1rem);
    margin: 20px; /* margin collapses between two elements*/
}

.centering{
    text-align: center;
}